@import '../../styles/style.scss';

* {
  box-sizing: border-box;
}

.navbar-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  transition: 0.6s;
}

.navbar-hidden {
  background-color: $light-cream;
  width: 100%;
  height: 9vh;
  transition: 0.6s;
}


.ResponsiveMenu {
  display: none;
}
.menu {
  display: block;
}

/* スマホ・タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  .ResponsiveMenu {
    display: block;
  }
  .menu {
    display: none;
  }


}
