
$main-color: #fb9e93;
$pastel: #ffe492;
$passion-grey: #977e91;
$tomato: #db4c4c;
$passion-purple: #741b47;
$dark-purple: #4c1130;
$grey-purple: #4f323b;
$light-cream: #fff4e8;
$white: #ffffff;

$title-font-size:8vh;
$second-title-size:5vh;


.factor-explain-container{
  //display: inline;
  .factor-title{
    display: inline-block;
    h2{
      font-size: $title-font-size;
      float: left;
      color: $white;
    }
    h3{
      font-size: $second-title-size;
      float: right;
      padding-top: 4vh;
      margin-left: 2vw;
      color: $passion-grey;
    }
  }
  .factor-content{
    h4{
      padding-left: 5vw;
    }
  }
}

