@import './styles/style.scss';
@import './styles/mixin/fonts';

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  // background-color: $light-cream;
  // min-height: 100vh;
  display: flex;
  //display: inline;
  flex-direction: column;
  //align-items: center;
  //justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.menu{
  float: right;
}

header{
  ul{
    list-style:none;
    display: inline-block;

    li{
      display: inline-block;
      margin-right: 2vh;
      font-family: 'Bellota';
      font-size: xx-small;
    }
  }
}

.name-box{
  display: block;
  float: left;
  height: 3vh;
  margin-left: 5vw;
  //padding-bottom: 5vh;
}

a{
  text-decoration: none;
  margin-bottom: 2vh;
}

.site-name{
  h2{
    margin-bottom: 2vh;
  }
  font-size: 5vh;
  text-decoration: none;
  font-family: 'Bellota';
  font-weight: 200;
  color: $main-color;
  margin-top: 3vh;
}


#container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    // grid-auto-rows:80vh;
    //background-color: #FBB3AB;i
    background-color: $main-color;
    .main-image{
      grid-column-start: 1;
      grid-column-end:4;
      height: 90vh;
      background-image: url("./images/learn-2706897_1920.jpg");
      background-size: cover;
    }
}

img{
  object-fit: cover;
}

#factor-ul{
  list-style:none;
  padding-bottom: 10vh;
  grid-column-start: 1;
  grid-column-end:4;
  // grid-row-start:2;
  // grid-row-end:4;
  display:grid;
  grid-template-columns: repeat(2,1fr);
}

.price-dev{
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  //grid-template-columns: repeat(3,1fr);
  width: 100%;
  background-color: $white;
  .price-list{
    margin: 10vh auto;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    display: grid;
    grid-template-columns: 15vw repeat(auto-fit, minmax( 200px, 1fr)) 15vw;
  }
}




footer{
  position: relative;
  background-color: $grey-purple;
  color: $white;
  height: 10vh;
  font-family: 'Bellota';
  div{
    position: absolute;
    top: 40%;
    left: 20%;
    align-items: center;
    #text{
      margin-top: 5vh;
    }
  }
}

/*------------------ 以下レスポンシブ対応（仮）--------------------*/

/* タブレット向けレイアウト */
@media all and (max-width: 1200px) {
  .content {
    .main-image{
      height: 60vh;
      width: 100%;
    }
  }
}

/* スマホ向けレイアウト */
@media all and (max-width: 800px) {
  .content {
    .main-image{
      height: 40vh;
      width: 100%;
    }
  }
}
