@import './styles/style.scss';
@import './styles/mixin/fonts';

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  // background-color: $light-cream;
  // min-height: 100vh;
  display: flex;
  //display: inline;
  flex-direction: column;
  //align-items: center;
  //justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  display: inline-block;
  height: 10vh;
  //border: medium solid $dark-purple;
  border-color: $dark-purple;
  position: relative;
}

.menu{
  float: right;
}

ul{
  list-style:none;
  display: inline-block;
}

li{
  display: inline-block;
  margin-right: 2vh;
  font-family: 'Bellota';
  font-size: xx-small;
}

.name-box{
  display: block;
  float: left;
  height: 3vh;
  margin-left: 5vw;
  //padding-bottom: 5vh;
}

a{
  text-decoration: none;
  margin-bottom: 2vh;
}

.site-name{
  h2{
    margin-bottom: 2vh;
  }
  font-size: 5vh;
  text-decoration: none;
  font-family: 'Bellota';
  font-weight: 200;
  color: $main-color;
  margin-top: 3vh;
}

.content{
  height: 200vh;
  background-color: $main-color;
  .main-image{
    height: 110vh;
    width: 100%;
    background-image: url("./images/learn-2706897_1920.jpg");
    background-size: cover;
  }
  ul{
    float: left;
  }

}

img{
  //height: 60vh;
  object-fit: cover;
}

// .class-image{

// }


footer{
  position: relative;
  background-color: $grey-purple;
  color: $white;
  //font-family: 'Didact Gothic';
  height: 10vh;
  font-family: 'Bellota';
  div{
    position: absolute;
    top: 40%;
    left: 20%;
    align-items: center;
    #text{
      margin-top: 5vh;
    }
  }
}

/*------------------ 以下レスポンシブ対応（仮）--------------------*/

/* タブレット向けレイアウト */
@media all and (max-width: 1200px) {
  .content {
    .main-image{
      height: 60vh;
      width: 100%;
    }
  }
}

/* スマホ向けレイアウト */
@media all and (max-width: 800px) {
  .content {
    .main-image{
      height: 40vh;
      width: 100%;
    }
  }
}
