@import './styles/style.scss';
@import './styles/mixin/fonts';

@mixin image-setting($image-height: 0vh,$image-pad: 56.25%,$image-width: 100%) {
  height: $image-height;
  padding-top: $image-pad;
  background-image: url("./images/learn-2706897_1920.jpg");
  background-size: cover;
  width: $image-width;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.menu {
  float: right;
}



header {
  ul {
    list-style:none;
    display: inline-block;

    li {
      display: inline-block;
      margin-right: 2vh;
      font-family: 'Bellota';
      font-size: xx-small;
    }
  }
}

.name-box {
  display: block;
  float: left;
  height: 3vh;
  margin-left: 5vw;
}

a {
  text-decoration: none;
  margin-bottom: 2vh;
}

.site-name {
  h2{
    margin-bottom: 2vh;
  }
  font-size: 5vh;
  text-decoration: none;
  font-family: 'Bellota';
  font-weight: 200;
  color: $main-color;
  margin-top: 3vh;
}

@media screen and(min-width: 1201px) {
  #container {
      display:grid;
      grid-template-columns: repeat(2,1fr);
      background-color: $main-color;
      .main-image {
        grid-column-start: 1;
        grid-column-end:4;
        @include image-setting();
      }
  }


  #factor-ul {
    list-style:none;
    padding-bottom: 10vh;
    grid-column: 1 / 3;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 2em;
  }

  .price-dev {
    grid-column: 1 / 3;
    display: grid;
    background-color: $white;
    .price-list {
      margin-top: 10vh;
      margin-bottom: 10vh;
      grid-column: 1 / 3;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax( 360px, 1fr)) ;
    }
  }
  footer {
    position: relative;
    background-color: $grey-purple;
    color: $white;
    height: 10vh;
    font-family: 'Bellota';
    div {
      position: absolute;
      top: 40%;
      left: 20%;
      align-items: center;
      #text {
        margin-top: 5vh;
      }
    }
  }
}

/*------------------ 以下レスポンシブ対応（仮）--------------------*/

/* タブレット向けレイアウト */
@media screen and (max-width: 1200px) {
  #container {
    .main-image {
      @include image-setting();
    }
    display: flex;
  }

  #factor-ul {
    list-style:none;
    padding-bottom: 10vh;
    // display:grid;
    // grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-column-start: 1;
    grid-column-end: 3;
    grid-gap: 2em;
  }

  footer {
    // position: relative;
    background-color: $grey-purple;
    color: $white;
    height: 10vh;
    font-family: 'Bellota';
    div {
      // position: absolute;
      // top: 40%;
      // left: 20%;
      align-items: left;
      #text{
        margin-top: 5vh;
      }
    }
  }

}

/* スマホ向けレイアウト */
@media screen and (max-width: 414px) {
  #container {
    .main-image {
      @include image-setting(40vh,0%,100%);
    }

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #factor-ul {
    list-style: none;
    padding-bottom: 10vh;
    padding-inline-start: 0px;
  }

  .price-list {
    padding-inline-start: 0px;
  }

  footer {
    // position: relative;
    background-color: $grey-purple;
    color: $white;
    height: 10vh;
    font-family: 'Bellota';
    display: flex;
    div {
      padding-top: 3vh;
      align-items: left;
      margin: 0 auto;

      #text {
        margin-top: 5vh;
      }
    }
  }
}
