$main-color: #fb9e93;
$pastel: #ffe492;
$passion-grey: #977e91;
$tomato: #db4c4c;
$passion-purple: #741b47;
$dark-purple: #4c1130;
$grey-purple: #4f323b;
$light-cream: #fff4e8;
$white: #ffffff;

.btn-top {
  position: relative;
  display: block;
  font-weight: bold;
  font-family:  Tahoma;
  padding: 8px 10px 5px 10px;
  text-decoration: none;
  color: $main-color;
  transition: .4s;
  width: 15vh;
  height: 6vh;
  font-size: large;
}

.btn-top:hover {
  background: inherit;
  color: $tomato;
}
