@import '../../styles/style.scss';

.price-tag-border{
  border: 1px solid $passion-grey;
  // width: 20vw;
  height: 50vh;
  margin: 5%;
  h1{
    position: relative;

  }
  h2{
    position: relative;
  }
  ul{
    position: relative;
  }
}