@import './mixin/fonts';

$font-path: '../public/fonts/';
@include font-face('Bellota', "`#{$font-path}`Bellota-Bold", bold, null, ttf);
@include font-face('Bellota', "`#{$font-path}`Bellota-BoldItalic", null, null, ttf);
@include font-face('Bellota', "`#{$font-path}`Bellota-Italic", italic, null, ttf);
@include font-face('Bellota', "`#{$font-path}`Bellota-Light", null, null, ttf);
@include font-face('Bellota', "`#{$font-path}`Bellota-LightItalic", null, null, ttf);
@include font-face('Bellota', "`#{$font-path}`Bellota-Regular", null, null, ttf);
@include font-face('Didact Gothic', "`#{$font-path}`/DidactGothic-Regular", null, null, ttf);


$main-color: #fb9e93;
$pastel: #ffe492;
$passion-grey: #977e91;
$tomato: #db4c4c;
$passion-purple: #741b47;
$dark-purple: #4c1130;
$grey-purple: #4f323b;
$light-cream: #fff4e8;
$white: #ffffff;
